<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azizahkamalia.aplikasimodul2kel41">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gambar4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gambar4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->

        <activity
            android:name="com.example.azizahkamalia.modul3.Splashscreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.azizahkamalia.modul3.RegisterActivity" />
        <activity android:name="com.example.azizahkamalia.modul3.MainActivity" />
        <activity android:name="com.example.azizahkamalia.modul3.LoginActivity" />
        <activity android:name="com.example.azizahkamalia.modul3.AboutActivity" />
        <activity android:name="com.example.azizahkamalia.modul3.EmailActivity" />
    </application>

</manifest>